html {
    --pst-font-family-base: Verdana, var(--pst-font-family-base-system);
    --pst-font-family-heading: Cambria, Georgia, Times, var(--pst-font-family-base-system);
    --pst-font-family-monospace: Courier, var(--pst-font-family-monospace-system);
}

/* Change the default width of primary sidebar */
.bd-sidebar-primary { 
    width: 30%;
}

/* Change the default width of secondary sidebar */
.bd-sidebar-secondary {
    width: 30%;
} 

/* Maximum the main content */
.bd-main .bd-content .bd-article-container {
    max-width: 100%;
    /* default is 60em */
}

/* Set full page width  */
.bd-page-width {
    max-width: 100%;
    /* default is 88rem */
}

.bd-content {
    flex-grow: 1;
    max-width: 80%;
  }
